eks_cluster = "eks-dev"
aws_default_region = "us-east-1"
role_name = "sample-dns-role"

# Tags to apply to all resources
cloud_tags = {
  Environment = "dev"
  Department  = "config0"
  CostCenter  = "CC-config0"
  ManagedBy   = "Terraform"
}
